html {
}

body {
    text-align: center;
    background: #b6eae1 10%;
    background-image: url("IMAGE_URL"); /* fallback */
    background-image: linear-gradient(to right, #b6eae1 10%, #D2FBAD 200%); /* W3C */
}
h6 {

}

.btn {
    opacity: 0.5;
}
.btn :hover {
    opacity: 1;
}

.intro h1 {
    width: 100%;

}
.footer {
    width: 100%;
}
.footer a {
    float: left;

}

linear-gradient(360deg, #b6eae1 10%, #D2FBAD 360%)
